/* fonte principal do h1 */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@font-face{
    font-family: 'GoodDog';
    src: url('../fonts/GoodDog.otf');
}
@font-face{
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine_Bold.ttf');
}
/* alinhar componentes */
.listar{
    display: inline-block;
}
/* icone principal da pagina de login */
#icon-page-login {
    /* -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); */
    margin-left: -30px;
    margin-top: -30px;
    width: 200px;
    height: 200px;
}
/* titulo principal da pagina de login */
#title-in-login {
    font-weight: bold;
    margin-left: 15px;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    #icon-page-login {
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width: 360px) {
    #icon-page-login {
        margin-left: 0;
        margin-top: 0;
        width: 50px;
        height: 50px;
    }
    #title-in-login {
        font-size: 25px;
        font-weight: bold;
    }
}

/* max-width  */
.text_footer {
    display: none
}
@media screen and (min-width: 768px) {
    .text_footer {display: block }
}
body {
    /*background: url('../img/background.jpg') center #ffffff no-repeat;
    background-size: 826px 633px;
    background-size: 100% 100%;*/
    color: rgba(0, 0, 0, 0.71);
}
/* container principal */
div#main-container {
    background: url('../img/background.jpg') center #ffffff no-repeat;
    background-size: 100% 100%;
    min-height: 720px;
}
div.panel-forms {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 16%;
}
div#panel-heading {
    background-color: #7146a6;
}
.panel-forms h1 {
    /* font-family: 'Indie Flower', Arial, serif; font-weight: 400; */
    color: #e3e3e3;

    font-family: 'GoodDog', serif;
}
.font-system-name {
    color: #e3e3e3;
    font-family: 'GoodDog', serif;
    font-size: 30px;
}
.panel-forms h1 small {
    color: #ffffff;
}
small#phrase {
    font-family: 'Tangerine', serif;
    font-size: 22px;
}
.phrases {
    font-family: 'Tangerine', serif;
    font-size: 22px;
}
.panel-forms input.btn-forms-lc {
    background-color: #7146a6;
    border: none;
    color: #fafafa;
}
.panel-forms input.btn-forms-lc:hover,
.panel-forms input.btn-forms-lc:active,
.panel-forms input.btn-forms-lc:focus
{
    background-color: #4c2f6f;
    color: #e3e3e3;
}
/* p - alert */
p.msg_alert{
    text-align: center;
}
/* customizando class well */
.well {
    box-shadow: none;
    background-color: #FFFFFF;
}

/* footer */
footer {
    font-family: "Open Sans","sans-serif";
    font-size: 14px;
    height: 100%;
    padding-top: 120px;
    padding-bottom: 200px;
    text-align: center;
    color: #777777;
}

/* Customize MENU TOP */
#custom-bootstrap-menu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    border: none;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #7146a6;
    border-width: 1px;
    border-radius: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #7146a6;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #5d3a88;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #5d3a88;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #5d3a88;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #5d3a88;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #5d3a88;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #5d3a88;
}
/* adaptar cor do Dropdown */
@media screen and (max-width: 768px) {
    #custom-bootstrap-menu a{
        color: #ffffff
    }
    #custom-bootstrap-menu a:hover{
        color: #e8e8e8;
    }
}
/* Tab panel */
.panel-div-tab {
    padding-top: 20px;
}
/* Perfil do usuário */
#user-profile {
    text-align: center;
}
.user-image img {
    background-color: #cecece;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.user-info {
    width: 100%;
}
#tb-profile {
    text-align: left;
}
#info-user-type-teacher {
    display: none;
}
span.obs{
    color: darkred;
    font-weight: bold;
}
/* bloquei de exibição */
.ocultar {
    display: none;
}
/* Página de notificações */
ul#notification {
    list-style: none;
    text-decoration: none;
}
ul#notification li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #d6caca;
    opacity: 0.3;
    transition: 0.4s;
}
ul#notification li:hover{
    cursor: pointer;
    opacity: 1;
}
ul#notification li.left .chat-body{
    margin-left: 60px;
}
#notification li.right .chat-body{
    margin-right: 60px;
}
ul#notification li .chat-body p{
    margin: 0;
    color: #777777;
}
div#result-filter-id {
    background-color: #7146a6;
    padding: 10px;
}

/* Professores - Painel de criação de tarefas  */
div#criar-tarefa-ferramentas {
    color: #333;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 10px 15px;
    background-color: #F5F5F5;
}
/* painl professor, tarefas definidas */
div.tasks-def {
    display: block;
}
div.tasks-bnts, div.tasks-summary {
    display: inline-block;
    padding-right: 10px;
}
div.create-task {
    margin-bottom: 10px;
}
div.quest-group {
    border-bottom: 1px dashed #dfdfdf;
    padding-bottom: 15px;
}
div.item-quest {
    margin-top: 10px;
}
/* Professores: Painel listar tarefas atuais */
ul.panel-display-ul-li {
    text-decoration: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #DDDDDD;
    border-left: #efacbf 2px solid;
    border-radius: 4px;
}
ul.panel-display-ul-li li{
    font-size: 13px;
    font-style: italic;
    margin-left: 0;
    padding: 6px;
    text-decoration: none;
    border-top: 1px solid #cbeff4;
}
ul.panel-display-ul-li li.title-li-tasks {
    border-top:2px solid #cbeff4;
    display: block;
}
ul.panel-display-ul-li li:hover {
    cursor: context-menu;
}
div.container-data-task {
    display: none;
}
/* Aluno: Painel responder tarefas atuais */
div.div-question {
    padding: 20px 10px 30px 30px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid #DDDDDD;
    border-left: #efacbf 2px solid;
    border-radius: 4px;
}
div.div-question p {
    padding-top: 10px;
    border-top:2px solid #cbeff4;
}
/* Personalizar Options de Select's */
select.form-control option {
    padding: 6px 12px;
    cursor: pointer;
}
select.form-control option:hover {
    background-color: #cecece;
}
div.my-blockquote {
    padding: 10px 20px;
    margin: 10px 0 0 0 ;
    border-left: 5px solid #EEE;
    font-style: italic;
}
div.my-blockquote small::before {
    content: "— ";
    font-size: 11px;
    font-weight: bolder;
    color: #696969;
}
div.my-blockquote small {
    font-size: 11px;
    font-weight: bolder;
    color: #696969;
}
/* definir nota */
.btn-define-point {
    color: #989898;
    font-style: normal;
    font-weight: bolder;
    margin-left: 15px;
}
/* identificador de unidade de questao (Resposta do Alumo) */
.the-question {
    /* border-bottom: 2px dashed #cbeff4; */
}
.define-point {
    background-color: #EEE;
    padding: 5px;
    margin: -19px 0 0 0 ;
}
/* formulário para envio de imagem do perfil */
form#user-img-upload {
    display: none;
    padding: 15px;
    background-color: #EEE;
    margin-top: 10px;
    margin-bottom: 10px;
}
input#image-file {
    padding: 5px;
}

/* Padronizar componentes "Ativos" */
.dropdown-menu > .active > a {
    background-color: #7146a6;
}
.dropdown-menu > .active > a:hover {
    background-color: #663f95;
}
.btn-primary {
    background-color: #7146a6;
    border-color: #684098;
}
.btn-primary:hover {
    background-color: #684098;
    border-color: #684098;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:target {
    background-color: #684098;
    border-color: #684098;
}
.btn-primary[disabled], .btn-primary[disabled]:hover,
.btn-primary[disabled]:disabled,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
input[type=submit].btn-primary:hover,
input[type=submit].btn-primary,
input[type=submit]:disabled ,
input[type=submit] .disabled
{
    background-color: #8e6fc5;
    border-color: #8e6fc5;
}

/* Componentes do fórum */
div.forum-user-field {
    border: 1px solid #dedede;
    background-color: #f4f4f4;
    padding: 3px;
    margin: 0px;
    border-radius: 3px;
    /* width: 115px; */
    text-align: center;
}
div.forum-user-field img.forum-user-img {
    margin-top: -15px;
    border: 2px solid #d7d7d7;
    background-color: #ececec;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
}
div.forum-user-field a {
    font-size: 11px;
    font-style: italic;
    color: #565656;
    border-top: 1px dashed #cecece;
    display: block;
}
/* Siggla de Turmas */
span.label-acronym {
    margin-right: 10px
}
span.label-primary {
    background-color: #655098;
}
span.label-like {
    background-color: #efefef;
    box-shadow: 2px 1px 2px #e0e0e0;
    color: #3c3c3c !important;
    font-weight: bold;
    margin: auto 5px auto 5px;
}
span.label-like:after {
    content: " like";
}
/* painel de adição de comentário ao debate */
div#discussion-add-comment {
    display: block;
    padding: 10px;
    margin: 5px;
}
/* Comentarios */
div.discussion-comments {
    display: block;
    padding: 25px;
    margin-bottom: 0px;
    border: none;
    min-height: 95px;
}
div.comment {
    padding: 5px;
    background-color: #fbfbfb;
    box-shadow: 2px 3px 4px #e6e6e6;
    min-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}
span.label-comment {
    background-color: #efefef;
    box-shadow: 2px 1px 2px #e0e0e0;
    color: #727272 !important;
    font-weight: bold;
    font-style: normal;
    margin: auto 5px auto 5px;
}